{
    "semi": false,
    "singleQuote": true,
    "experimentalTernaries": true,
    "singleAttributePerLine": false,
    "jsxSingleQuote": true,

    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 2,

    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn", "twJoin", "twMerge"],

    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
